.currency-breakdown {
  position: absolute;
  bottom: 85px;
  left: 30px;
  width: 300px;
  padding: 1.5rem;
  background: rgba(26, 32, 53, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 2;
  /* opacity: 1; */
  /* transform: translateY(20px); */
  /* animation: slideUpFadeIn 0.5s 1.5s ease-out forwards; */
}

/* @keyframes slideUpFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.breakdown-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.breakdown-flag {
  font-size: 2rem;
  margin-right: 1rem;
  flex-shrink: 0; /* Prevents the flag from shrinking */
}

.breakdown-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #e2e8f0;
  white-space: nowrap; /* Prevents name from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

.breakdown-body {
  display: flex;
  justify-content: space-between;
}

.breakdown-item {
  text-align: center;
  flex: 1;
}

.breakdown-label {
  font-size: 0.8rem;
  color: #94a3b8;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.breakdown-value {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.75rem;
  color: #f1f5f9;
}

